.main-nav.navbar {
  background: linear-gradient(90deg, aqua, blue);
}

.main-nav .navbar-nav {
  align-items: center;
  gap: 20px;
}

.main-nav .navbar-nav a {
  color: black;
  text-decoration: none;
  margin-bottom: none;
  padding: none;
}

.main-nav .navbar-toggler.collapsed {
  background: rgba(255, 255, 255, 0.763);
}

.main-nav .navbar-nav a.active {
  color: white;
}

.offcanvas.offcanvas-start {
  background-color: rgb(0, 174, 255);
}

.offcanvas.offcanvas-start.show .offcanvas-body .navbar-nav a {
  color: black;
  text-decoration: none;
  margin-bottom: 20px;
  padding: none;
}

.offcanvas.offcanvas-start .offcanvas-body .navbar-nav a.active {
  color: white;
}
